.wishlist-page-container{
    width: 70%;
    margin: 2rem auto;
    height: auto;
}

.wishlist-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wishlist-item-card{
    flex-grow: 1;
}

/* @media screen and (max-width:1400px){
    .wishlist-page-container{
        width: 60%;
    }
}
@media screen and (max-width:1160px){
    .wishlist-page-container{
        width: 60%;
    }
}

@media screen and (max-width:1480px){
    .wishlist-page-container{
        width: 60%;
    }
} */



@media screen and (max-width:768px){
    .wishlist-item-card{
        height: 22rem;
    }
}