@import './css/homepage.css';
@import './css/product-listing.css';
@import './css/cart-management.css';
@import './css/wishlist-page.css';
@import './css/login.css';
@import './css/signup.css';


html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

:root{
    --white-color:rgb(255,255,255);
    --carousel-box-shadow-color : rgb(0 0 0 / 16%);
    --caraousel-arrow-color:#333;
}
@media screen and (max-width:767px){
    html{
        font-size: 50%;
    }
}